version: '3'
services:
    rabbitmq:
    image: rabbitmq:3.7.8-management
    networks: ["icsoc-network"]
    hostname: rabbitmq-{{ NodeId }}
    container_name: rabbitmq
    ports:
      - "4369:4369"
      - "5671:5671"
      - "5672:5672"
      - "15671:15671"
      - "15672:15672"
      - "25672:25672"
    restart: always
    environment:
    - RABBITMQ_DEFAULT_USER=icsoc
    - RABBITMQ_DEFAULT_PASS=P@ssw0rd
    volumes:
    - /home/data/db/rabbitmq:/var/lib/rabbitmq/mnesia


networks:
  icsoc-network:
    external:
      name: icsoc-network